@import './variables.scss';
@import "./index.css";

html,body,h1{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', sans-serif;
  color: $bg-dark;
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-height: 100%;
  min-width: 100% ;
 
  
}
header{
  position: fixed;
  top:0;
  left: 0;
  height: 4rem;
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-sizing: border-box;
  font-family: 'Gill Sans', sans-serif;
  
}
nav a{
  color: $secondary;
  height: 40px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
  font-family: 'Gill Sans', sans-serif;

}
nav a:hover{
  color: $primary;
}
section{
  height: 100%;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: $bg-dark-gray;
  font-size: 100px;
  font-weight: 700;
  color: $secondary;
  font-family: 'Gill Sans', sans-serif;
}
section:nth-child(odd){
  background-color: $bg-dark ;
}

@media only screen and (min-width: 500px) {
  html,body{
    display: none;
  }
  
}
